<div class="page page-sounds" ng-controller = "soundsCon as vm">
      <header>
        <a href = "#/options" class="back-button">
          <img src="static/images/icon_back.svg" alt="Back">
        </a> <h2>Sounds</h2>
      </header>
      <div class="display">

        <ul>
          <li ng-repeat = "sound in vm.soundOptions" ng-click = "vm.setFavoriteSound(sound.name)">
            <div class="sample sample-icon"><img src = "static/images/icon_sound.svg" /></div>
            <div class = "title">{{sound.name}}</div>
            <div class = "data">{{sound.description}}</div>
          </li>
        </ul>

      </div>
    </div>
